# Ignore data folders
data/
datasets/
output/
snapshot/

# Ignore large files
*.csv
*.nc
*.tif
*.h5
*.dat
*.nml
*.par
*.json
*.geojson

# Ignore temporary files
*.log
*.tmp

# R / Python specific
.Rhistory
.RData
__pycache__/